# Copia este archivo a `.env` y rellena tus credenciales de Supabase
SUPABASE_URL=https://gzinwehvfdamaeqsjyxd.supabase.co
SUPABASE_ANON_KEY=sb_publishable_gNF22sJbw9_MRwJIUmxOhQ_WkYsLv9m

# Si necesitas otro puerto
PORT=3000
